.list {
    position: relative;
    margin: 10px 0;
}
.elem {
    background: red;
    border: 1px solid black;
    text-align: center;
    position: absolute;
    transition: all 0.3s;
}
.elem-complete {
    background: aqua;
}
