.list {
    display: flex;
}
.elem {
    background: red;
    border: 1px solid black;
    text-align: center;
    margin: 3px 3px 0 0;
    width: 8px;
    transition: none;
    transition-delay: none;
}
.elem_done{
	transition: 1s;
	transition-delay: 0.4s;
	background: aqua;
}